.theory-input-container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.number-input{
    display: flex;
    align-items: baseline;
}

label{
    margin-right: 10px;
}
input{
    margin-right: 10px;
}

.text-input{
    display: flex;
    margin-left: 12px;
    align-items: baseline;
}