
.span-break{
    display: block;
}

.button-wrapper{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
.roulette-button{
    width: 50px;
    text-align: center;
    margin: 10px;
}

.white-button{
    background-color:white !important;
    border: black !important;
    border-width: thin;
    border-style: solid;
}
.black-button{
    background-color: black !important;
    color: white !important;
}

.button-container{
    display: flex;
    max-height: 200px;
}

@media screen and (max-width: 1200px) {
    .button-container{
        max-width: 100%;
        display: block;
    }
    .button-wrapper{
        flex-direction: row;
        max-width: 210px;
        flex-wrap: wrap;
    }
}