.theory-container{
    display: flex;
    margin-bottom: 20px;
    align-items: baseline;
}

.sortorder-input{
    width: 50px !important;
    display: initial !important;
    margin-right: 20px;
}

.number-label{
    margin-right: 20px;
}

.theory-input{
    display: initial !important;
    width: 50% !important;
}

.add-theory-button{
    height: 100%;
    margin-top: 12px;
}

.theories-container{
    display: flex;
    flex-direction: column;
}

.theory-button-container{
    display: flex;
    justify-content: flex-end;
    width: 90%;
}