.login-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.login-container form{
    width: 100%;
}

.login-container form .input-group{
    flex-direction: column;
}

.login-container form .input-group input{
    width: 100%;
}

.input-error{
    color: red;
    font-size: 10pt;
}

@media screen and (max-width: 700px) {
    .login-container{
        width: 100%;
    }
}