
.span-break{
    display: block;
}

.roulette-button{
    width: 50px;
    text-align: center;
    margin: 10px;
}


.button-container{
    display: flex;
    margin-top: 100px;
}

.zero-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.table-left{
    background-image: url('../../../assets/table-left.png');
    background-size: 123px;
    background-repeat: no-repeat;
    margin-top: 42px;
    width: 106px;
}

@media screen and (max-width: 1200px) {
    .button-container{
        max-width: 100%;
        display: block;
    }

    .zero-buttons{
        display: flex;
        flex-direction: row;
    }
}